<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Demo</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/heroes']">
        Heroes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/books']">
        Books
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <p></p>
  <alert type="info">
    There are some issues with updating links "Book - Hero" and "Hero - Book". It may be internal problem in the json-server (used as a backend) or it's a problem with it's configuration. Any way Angular does it's stuff as it should.
  </alert>
  <router-outlet></router-outlet>
</div>
